.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 64px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-photos {
  opacity: 0.99;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  width: 100%;
  top: 230px;
  bottom: 0;
}

select {
   background: #222;
   color: #eee;
   width: 140px;
   padding: 2px;
   font-size: 16px;
   line-height: 1;
   border: 1px;
   border-radius: 0;
   height: 34px;
}

select:focus {
  outline:none;
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
